{% extends 'efssad_front/master.html' %}
{% load staticfiles %}
 <!-- Custom styles for this template -->
<link rel="stylesheet" type="text/css" href="{% static 'efssad_front/signin.css' %}" />

{% block body %}


<div class="accordion accordion-lg divcenter nobottommargin clearfix" style="margin-left: 32%; margin-right:32%; max-width:550px;">
  <body class="text-center">
    <form class="form-signin" action="#">
       {% csrf_token %}
      <img class="mb-4" src="" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">EF Login</h1>
      <label for="tb_username" class="sr-only">Username</label>
      <input type="username" id="tb_username" class="form-control" placeholder="Username" required autofocus>
      <label for="tb_password" class="sr-only">Password</label>
      <input type="password" id="tb_password" class="form-control" placeholder="Password" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

    </form>
  </body>
</div>

{% endblock %}