<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Emergency Force {% endblock %}</title>
</head>
<body>
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'efssad_front/master.css' %}" />
<link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Emergency Force</a>
        </div>

        <!-- Items -->
        <div class="collapse navbar-collapse" id="topNavbar">
            <ul class="nav navbar-nav">
                <li class="">
                    <a href="#">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>&nbsp; Mission
                    </a>
                </li>
            </ul>
        </div>

    </div>

</nav>

{% block body %}
{% endblock %}
</body>
<footer>
     <p class="mt-5 mb-3 text-muted">&copy; EFSSAD - 2018</p>
</footer>
</html>