{% extends 'efssad_front/master.html' %}
{% load staticfiles %}

{% block body %}
<!-- map -->
<!--{#% load leaflet_tags %}-->
<!--{#% leaflet_js %}-->
<!--{#% leaflet_css %}-->

<div class="container">
    <div class="panel-group" id="missionDetail">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#missionDetail" href="#collapse1">Mission Info</a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div style="float:left; width: 50%; #border:1px solid red;">
                        <label>ID:</label>
                        <span id="missionID"></span>
                        <br/>
                        <label>Level:</label>
                        <span id="missionLevel"></span>
                        <br/>
                        <label>Description:</label>
                        <span id="missionDesc"></span>
                        <br/>
                        <label>Time:</label>
                        <span id="missionDatetime"></span>
                        <br/>
                        <label>Site Commanders:</label>

                        <br/>
                    </div>
                    <!--<div id="map">test</div>-->
                    <div style="#border:1px solid blue;">
                        <label>Location:</label>
                        <br/>
                        <div id="locationMap" style="width=300px;height=250px;">
                            <!--{#% leaflet_map "yourmap" %}-->
                            <!--<form method="POST" action="#">{% csrf_token %}-->
                                <!--{{ form.media }}-->
                                <!--{{ form.as_p }}-->
                            <!--</form>-->

                        </div>
                    </div>
                </div>
                <!--<div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,-->
                <!--sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,-->
                <!--quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.-->
                <!--</div>-->
            </div>

        </div>
    </div>

    <div class="panel-group" id="missionDetail2">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#missionDetail" href="#collapse1">Decision table</a>
                </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse in">
                <div class="decisionTable">
                    <div style="float:left; width: 50%; #border:1px solid red;">
                        Insert decision table here
                    </div>
                </div>
            </div>
        </div>
                <!--<div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,-->
                <!--sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,-->
                <!--quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.-->
                <!--</div>-->
    </div>
    Select team

</div>


{% endblock %}