{% extends 'efssad_front/master.html' %}
{% load staticfiles %}

{% block body %}
 <!-- Custom styles for this template -->
<link rel="stylesheet" type="text/css" href="{% static 'efssad_front/style.css' %}" />

<body>
<div class="container">
  <table class="table">
      <thead class="thead-dark">
      <tr>
          <th scope="col">ID</th>
          <th scope="col">Level</th>
          <th scope="col">Description</th>
          <th scope="col">Datetime</th>
          <th scope="col">Status</th>

      </tr>

      </thead>

      <tbody>
      <tr>
          <th scope="row">1</th>
          <td>1</td>
          <td>Zombie Invasion</td>
          <td>11-02-2018 18:00</td>
          <td>Ongoing</td>
        </tr>

      </tbody>
    </table>

</div>
</body>

{% endblock %}
