{% extends 'efssad_front/master.html' %}

{% block body %}

<body>
<div class="container">
    <table class="table table-hover">
        <thead style="background:black; color: white; height: 50px;">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Level</th>
            <th scope="col">Description</th>
            <th scope="col">Datetime</th>
            <th scope="col">Status</th>

        </tr>

        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>1</td>
            <td>Zombie Invasion</td>
            <td>11-02-2018 18:00</td>
            <td>Ongoing</td>
        </tr>

        </tbody>
    </table>


</div>
</body>

{% endblock %}
