{% extends 'efssad_front/master.html' %}
{% load staticfiles %}

{% block body %}
<!-- map -->
<!--{#% load leaflet_tags %}-->
<!--{#% leaflet_js %}-->
<!--{#% leaflet_css %}-->

<div class="container">
    <h2>Mission Details</h2>
    <div class="panel-group" id="missionDetail">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#missionDetail" href="#collapse1">Mission Info</a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div style="float:left; width: 50%; #border:1px solid red;">
                        <label>ID:</label>
                        <span id="missionID"></span>
                        <br/>
                        <label>Level:</label>
                        <span id="missionLevel"></span>
                        <br/>
                        <label>Description:</label>
                        <span id="missionDesc"></span>
                        <br/>
                        <label>Time:</label>
                        <span id="missionDatetime"></span>
                        <br/>
                        <label>Site Commanders:</label>

                        <br/>
                    </div>
                    <!--<div id="map">test</div>-->
                    <div style="#border:1px solid blue;">
                        <label>Location:</label>
                        <br/>
                        <div id="locationMap" style="width=300px;height=250px;">
                            <!--{#% leaflet_map "yourmap" %}-->
                            <!--<form method="POST" action="#">{% csrf_token %}-->
                                <!--{{ form.media }}-->
                                <!--{{ form.as_p }}-->
                            <!--</form>-->

                        </div>
                    </div>
                </div>
                <!--<div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,-->
                <!--sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,-->
                <!--quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.-->
                <!--</div>-->
            </div>

        </div>
    </div>

    <!--when hover, the link shouldn't have an underline???-->
    <a href="#" class="alert-link newPlan">
        <div class="alert alert-danger">
            <span id="numOfNewPlans" class="badge">3</span>&nbsp &nbsp <strong>New plan from CMO</strong>
        </div>
    </a>

    <div id="btnGroup" style="float:right">
        <button type="button" class="btn btn-warning">Redeployment</button>
        <button type="button" class="btn btn-primary">Clean up</button>
        <button type="button" class="btn btn-success">Livestream</button>
    </div>


    <h2>Mission Control Centre</h2>

    <table class="table">
        <thead style="background:black; color: white; height: 50px;">

        <tr>
            <th scope="col" class="col-md-1">Commander</th>
            <th scope="col" class="col-md-1">Time</th>
            <th scope="col" class="col-md-6">Message</th>
        </tr>

        </thead>

        <tbody>

        <tr>
            <th scope="row">1</th>
            <td>1</td>
            <td>Zombie Invasion</td>
        </tr>
        </tbody>

    </table>


    <div class="form-group">
        <textarea class="form-control" rows="4" id="comment"></textarea>
        <br>
        <button type="button" class="btn btn-primary active" style="float: right">Submit</button>
    </div>


</div>

{% endblock %}