{% extends 'efssad_front/master.html' %}

{% block body %}
<body>

<div class="container">
    <h2 style="float:left;">Archive</h2>
    <br/>
    <div class="input-group col-md-4" style="float:right; margin-bottom: 10px;">
        <input type="text" class="form-control" placeholder="Search"/>
        <span class="input-group-btn">
            <button class="btn btn-info" type="button">
                <i class="glyphicon glyphicon-search"></i>
            </button>
        </span>
    </div>

    <br>
    <table class="table table-hover">
        <thead style="background:black; color: white; height: 50px;">
        <tr>
            <th scope="col" class="col-md-1">ID</th>
            <th scope="col" class="col-md-1">Level</th>
            <th scope="col" class="col-md-4">Description</th>
            <th scope="col" class="col-md-2">Datetime received</th>
            <th scope="col" class="col-md-2">Datetime completed</th>

        </tr>

        </thead>
        <tbody>
        <tr>
            <td><strong>1</strong></td>
            <td>1</td>
            <td>Zombie Invasion</td>
            <td>11-02-2018 18:00</td>
            <td>15-02-2018 18:00</td>
        </tr>

        </tbody>
    </table>


</div>
</body>

{% endblock %}

