{% extends 'efssad_front/master.html' %}

{% block body %}
{{jsonData}}

<body>
<!--  -->
<script>
(function poll() {
        setTimeout(function() {
                   $.ajax({
                          <!--url: "https://infosoftpmo.info/plans/json/",-->
                          <!--url: "https://efies.pythonanywhere.com/updates/new/",-->
                          url: "https://iescmo.herokuapp.com/api/crises/",
                          xhrFields: {
                            withCredentials: false
                          },
                          headers: {
                          'Content-Type': 'application/x-www-form-urlencoded'
                          },
                          type: "GET",
                          beforeSend: function(xhr) {
                            <!--xhr.setRequestHeader('Authorization', 'Token a528483d8d71425d3a5220c6034ae583d24a86cd')-->
                            <!--xhr.setRequestHeader('Authorization', 'Token 479b4e2edc4adbb44722432a8fd27e626d577b80')-->
                          },
                          error: function(jqXHR, textStatus, errorThrown) {
                                console.log('jqXHR:' + jqXHR);

                                console.log('textStatus:' + textStatus);

                                console.log('errorThrown:' + errorThrown);

                          },
                          success: function(data) {
                          <!--alert("data");-->
                          // check if null return (no results from API)
                          if (data == null) {
                                console.log('no data!');
                                alert("no data");
                                document.write("test");
                          } else {
                                console.log('new data!');
                                console.log(data);
                                <!--alert("test2");-->

                                <!-- create mission object -->
                                <!--var mission = {-->
                                    <!--"missionID" : data.crises[0][]-->
                                <!--}-->

                                document.getElementById("mission").innerHTML = data.crises[0]['title'];
                                <!--document.getElementById("update").innerHTML = data.update[0]['updateID'];-->
                                <!--document.getElementById("message").innerHTML = data.user;-->
                                <!--document.getElementById("mission").innerHTML = "test";-->

                                var requestMissionID = data.crises[0]['crisisID'];
                                var currentMissionID = {{ latestmission }}

                                if(requestMissionID > currentMissionID){
                                    <!-- hidden info to pass to views -->
                                    document.getElementById("planID").value = data.crises[0]['plan']['planID'];
                                    document.getElementById("pTitle").value = data.crises[0]['plan']['title'];
                                    document.getElementById("pTeam").value = data.crises[0]['plan']['assets_involved'];
                                    document.getElementById("pD").value = data.crises[0]['plan']['details'];
                                    document.getElementById("pA").value = data.crises[0]['plan']['action'];

                                    document.getElementById("mID").value = requestMissionID;
                                    document.getElementById("mTitle").value = data.crises[0]['title'];
                                    document.getElementById("mDescription").value = data.crises[0]['details'];
                                    document.getElementById("mStatus").value = data.crises[0]['status'];
                                    document.getElementById("mLong").value = data.crises[0]['longitude'];
                                    document.getElementById("mLat").value = data.crises[0]['latitude'];

                                    document.getElementById('newMission').click();
                                }
                          }
                          },
                          dataType: "json",
                          complete: poll,
                          timeout: 2000
                          })
                   }, 3000);
        })();

function receiveMission(){
    var crisis1 = {
       "crisis_id" : "1",
       "crisis_date_time" : "11-02-2018 18:00",
       "crisis_location" : "",
       "crisis_phone" : "91234567",
       "crisis_title" : "Fire",
       "crisis_detail" : "Fire at TCT-LT",
       "crisis_NRIC" : "S1122334A",
       "incident_emergency_level" : "1",
       "plan_id" : "1",
       "plan_title" : "initial plan",
       "plan_category" : "",
       "plan_teams" : "SWAT,Search & Rescue,War Fighter",
       "plan_description" : "plan desc",
       "plan_action" : "plan actions",
       "plan_date" : "11-02-2018 18:05",
       "plan_location" : "51.505,-0.09"
    }
    <!--alert(crisis1.crisis_date_time);-->

    var missiontable = document.getElementById("missionTable");
    var row = missiontable.insertRow(1);
    var IDcell = row.insertCell(0);
    var Lvlcell = row.insertCell(1);
    var Desccell = row.insertCell(2);
    var DTcell = row.insertCell(3);
    var Statuscell = row.insertCell(4);
    var Actioncell = row.insertCell(5);

    var id = document.createElement('span');
    id.style = "font-weight: bold";
    id.innerHTML = crisis1.crisis_id;
    IDcell.appendChild(id);
    Lvlcell.innerHTML = crisis1.incident_emergency_level;
    Desccell.innerHTML = crisis1.crisis_detail;
    DTcell.innerHTML = crisis1.crisis_date_time;

    var status = document.createElement('span');
    status.className = "label label-success";
    status.style = "font-size: 14px";
    status.innerHTML = "New";
    Statuscell.appendChild(status);

    var action =  document.createElement('input');
    action.type = "button";
    action.className = "btn btn-primary active";
    if(crisis1.incident_emergency_level == 3){
        action.value = "View Plan";
    }else{
        action.value = "Deploy";
    }
    action.onclick = "location.href='/deployment/" + crisis1.crisis_id + "';";
    Actioncell.appendChild(action);
}


</script>

<div class="container">
    <form action="{% url 'savenewmission' %}" method="POST">
        {% csrf_token %}
            <!--hidden info-->
            <!-- for plan -->
            <input type="hidden" id="planID" name="planID"/>
            <input type="hidden" id="pTitle" name="pTitle"/>
            <input type="hidden" id="pTeam" name="pTeam"/>
            <input type="hidden" id="pD" name="pD"/>
            <input type="hidden" id="pA" name="pA"/>

            <!-- for mission -->
            <input type="hidden" id="mID" name="mID"/>
            <input type="hidden" id="mTitle" name="mTitle"/>
            <input type="hidden" id="mDescription" name="mDescription"/>
            <input type="hidden" id="mStatus" name="mStatus"/>
            <input type="hidden" id="mLong" name="mLong"/>
            <input type="hidden" id="mLat" name="mLat"/>



            <button id="newMission" style="visibility: hidden;"class="btn btn-default" return false>Close</button>

    </form>
    <h2>Mission List</h2>
    <button id="receiveBtn" type="button" class="btn btn-primary active"
            onclick="location.href='{% url 'pullFromCMO' pk=1 %}'">Test Receive Mission
    </button>
    <button id="ajaxBtn" type="button" class="btn btn-primary active" onclick="location.href='{% url 'testAjax' %}'">
        Test AJAX
    </button>
    <table id="missionTable" class="table table-hover">
        <thead style="background:black; color: white; height: 50px;">
        <tr>
            <th scope="col" class="col-md-1">ID</th>
            <th scope="col" class="col-md-1">Level</th>
            <th scope="col" class="col-md-4">Description</th>
            <th scope="col" class="col-md-2">Datetime</th>
            <th scope="col" class="col-md-1">Status</th>
            <th scope="col" class="col-md-1">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for mission in all_missions reversed %}
        <tr>
            <th scope="row">{{ mission.missionID }}</th>
            <td>{{ mission.level }}</td>
            <td>{{ mission.description }}</td>
            <td>{{ mission.datetimeReceived }}</td>
            <td><span class="#" style="font-size: 14px"
                      id="tmissionStatus{{ mission.missionID }}">{{ mission.status }}</span></td>

            {% if mission.level == 3 %}
            {% with mission.missionID as msID %}
            <td>
                {% if mission.status|lower == "new" %}
                <button type="button" class="btn btn-primary active" data-toggle="modal" data-target="#myModal1">View
                    Plan
                </button>
                {% else%}
                <input type="button" class="btn btn-primary active" onclick="location.href='/missionDetail/{{ msID }}';"
                       value="View Detail"/>
                {% endif %}
            </td>
            <!-- Modal -->
            <div id="myModal1" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">{{ plan.title }}</h4>
                        </div>
                        <div class="modal-body">
                            <p><strong>Teams Involved:</strong></p>
                            <p id="planTeams">{{ plan.team }}</p>
                            <p><strong>Plan Detail:</strong></p>
                            <p id="planDetail">{{ plan.description }}</p>
                            <p><strong>Action:</strong></p>
                            <p id="planAction">{{ plan.action }}</p>
                        </div>
                        <div class="modal-footer">
                            <input type="button" class="btn btn-primary active"
                                   onclick="location.href='/deployment/{{ msID }}';" value="Deploy"/>
                        </div>
                    </div>

                </div>
            </div>
            {% endwith %}
            {% else %}
            {% if mission.status|lower == "new" %}
            <td><input type="button" class="btn btn-primary active"
                       onclick="location.href='/deployment/{{ mission.missionID }}';" value="Deploy"/></td>
            {% else %}
            <td><input type="button" class="btn btn-primary active"
                       onclick="location.href='/missionDetail/{{ mission.missionID }}';" value="View Detail"/></td>
            {% endif %}
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <!--<table class="table table-hover">-->
    <!--<thead style="background:black; color: white; height: 50px;">-->
    <!--<tr>-->
    <!--<th scope="col" class="col-md-1">ID</th>-->
    <!--<th scope="col" class="col-md-1">Level</th>-->
    <!--<th scope="col" class="col-md-4">Description</th>-->
    <!--<th scope="col" class="col-md-2">Datetime</th>-->
    <!--<th scope="col" class="col-md-1">Status</th>-->
    <!--<th scope="col" class="col-md-1">Action</th>-->
    <!--</tr>-->
    <!--</thead>-->
    <!--<tbody>-->
    <!--<tr>-->
    <!--<th scope="row">1</th>-->
    <!--<td>3</td>-->
    <!--<td>Zombie Invasion</td>-->
    <!--<td>11-02-2018 18:00</td>-->
    <!--<td><span class="label label-warning" style="font-size: 14px">New</span></td>-->
    <!--<td><button type="button" class="btn btn-primary active" data-toggle="modal" data-target="#myModal">View Plan</button></td>-->

    <!--&lt;!&ndash; Modal &ndash;&gt;-->
    <!--<div id="myModal" class="modal fade" role="dialog">-->
    <!--<div class="modal-dialog">-->

    <!--&lt;!&ndash; Modal content&ndash;&gt;-->
    <!--<div class="modal-content">-->
    <!--<div class="modal-header">-->
    <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
    <!--<h4 class="modal-title">Modal Header</h4>-->
    <!--</div>-->
    <!--<div class="modal-body">-->
    <!--<p>Some text in the modal.</p>-->
    <!--</div>-->
    <!--<div class="modal-footer">-->
    <!--<input type="button" class="btn btn-primary active" onclick="location.href='/deployment';" value="Deploy"/>-->
    <!--</div>-->
    <!--</div>-->

    <!--</div>-->
    <!--</div>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--<th scope="row">1</th>-->
    <!--<td>1</td>-->
    <!--<td>Fire at Tampines</td>-->
    <!--<td>11-02-2018 18:00</td>-->
    <!--<td><span class="label label-warning" style="font-size: 14px">New</span></td>-->
    <!--<td><input type="button" class="btn btn-primary active" onclick="location.href='/deployment';" value="Deploy"/></td>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--<th scope="row">1</th>-->
    <!--<td>2</td>-->
    <!--<td>Riot at Yishun</td>-->
    <!--<td>11-02-2018 18:00</td>-->
    <!--<td><span class="label label-warning" style="font-size: 14px">Clean Up</span></td>-->
    <!--<td><input type="button" class="btn btn-primary active" onclick="location.href='/deployment';" value="Deploy"/></td>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--<th scope="row">1</th>-->
    <!--<td>3</td>-->
    <!--<td>Zombie Invasion</td>-->
    <!--<td>11-02-2018 18:00</td>-->
    <!--<td><span class="label label-warning" style="font-size: 14px">Ongoing</span></td>-->
    <!--<td><button type="button" class="btn btn-primary active" data-toggle="modal" data-target="#myModal">View Plan</button></td>-->
    <!--</tr>-->
    <!--</tbody>-->
    <!--</table>-->

    <!-- testing for ajax -->
    <p>Hello here's the ajax that we've caught: </p>
    <p id="mission"></p>
    <p id="update"></p>
    <p id="message"></p>

</div>
</body>
<!-- script for different span color -->
<script>
    var status;
    for(i=1; i<= {{all_missions.count}}; i++){
        status = document.getElementById('tmissionStatus' + i).innerHTML.toLowerCase();
         status = status.replace(/\s/g,'');
        if(status == "new"){
            document.getElementById("tmissionStatus" + i).className = "label label-success";
        }
        if(status == "ongoing"){
            document.getElementById("tmissionStatus" + i).className = "label label-warning";
        }
        if(status == "cleanup"){
            document.getElementById("tmissionStatus" + i).className = "label label-info";
        }

        if(status == "complete"){
            document.getElementById("missionTable").deleteRow({{all_missions.count}} - i + 1);
        }

        if(status == "completed"){
            document.getElementById("missionTable").deleteRow({{all_missions.count}} - i + 1);
        }
    }

</script>
{% endblock %}