{% extends 'efssad_front/master.html' %}

{% block body %}
{{jsonData}}

<body>
<!--  -->
<script>
$(document).ready(function(){
    <!--$.ajax({-->
        <!--url: 'http://127.0.0.1:8000/test/new/1',-->
        <!--type: 'GET',-->
        <!--success: function(data){-->
            <!--&lt;!&ndash;console.log("my data: " + data.message);&ndash;&gt;-->
            <!--alert(data);-->
            <!--&lt;!&ndash;alert('hi');&ndash;&gt;-->
        <!--},-->
        <!--failure: function(data){-->
            <!--alert('Got an error dude');-->
        <!--}-->
    <!--});-->
});

function testReceive(){
    $.ajax({
        url: 'http://127.0.0.1:8000/test/new/1',
        type: 'get',
        success: function(data){
            alert(data);
        },
        failure: function(data){
            alert('Got error');
        }
    });
}

function receiveMission(){
    var crisis1 = {
       "crisis_id" : "1",
       "crisis_date_time" : "11-02-2018 18:00",
       "crisis_location" : "",
       "crisis_phone" : "91234567",
       "crisis_title" : "Fire",
       "crisis_detail" : "Fire at TCT-LT",
       "crisis_NRIC" : "S1122334A",
       "incident_emergency_level" : "1",
       "plan_id" : "1",
       "plan_title" : "initial plan",
       "plan_category" : "",
       "plan_teams" : "SWAT,Search & Rescue,War Fighter",
       "plan_description" : "plan desc",
       "plan_action" : "plan actions",
       "plan_date" : "11-02-2018 18:05",
       "plan_location" : "51.505,-0.09"
    }
    <!--alert(crisis1.crisis_date_time);-->

    var missiontable = document.getElementById("missionTable");
    var row = missiontable.insertRow(1);
    var IDcell = row.insertCell(0);
    var Lvlcell = row.insertCell(1);
    var Desccell = row.insertCell(2);
    var DTcell = row.insertCell(3);
    var Statuscell = row.insertCell(4);
    var Actioncell = row.insertCell(5);

    var id = document.createElement('span');
    id.style = "font-weight: bold";
    id.innerHTML = crisis1.crisis_id;
    IDcell.appendChild(id);
    Lvlcell.innerHTML = crisis1.incident_emergency_level;
    Desccell.innerHTML = crisis1.crisis_detail;
    DTcell.innerHTML = crisis1.crisis_date_time;

    var status = document.createElement('span');
    status.className = "label label-success";
    status.style = "font-size: 14px";
    status.innerHTML = "New";
    Statuscell.appendChild(status);

    var action =  document.createElement('input');
    action.type = "button";
    action.className = "btn btn-primary active";
    if(crisis1.incident_emergency_level == 3){
        action.value = "View Plan";
    }else{
        action.value = "Deploy";
    }
    action.onclick = "location.href='/deployment/" + crisis1.crisis_id + "';";
    Actioncell.appendChild(action);
}

<!--(function poll(){-->
    <!--setTimeout(function(){-->
        <!--var req = $.ajax({-->
                    <!--url: "http://127.0.0.1:8000/updates/new/1",-->
                    <!--type: "GET",-->
                    <!--success: function (response) {-->
                        <!--console.log(response);-->
                    <!--},-->
                    <!--dataType: "json",-->
                    <!--timeout: 2000,-->
                    <!--headers: {-->
                        <!--'Content-type': 'application/json',-->
                        <!--'Authorization': 'Token 479b4e2edc4adbb44722432a8fd27e626d577b80',-->
                    <!--}-->

        <!--})-->
    <!--}, 5000);-->
<!--})();-->
</script>

<div class="container">
    <h2>Mission List</h2>
    <button id="receiveBtn" type="button" class="btn btn-primary active" onclick="location.href='{% url 'pullFromCMO' pk=1 %}'">Test Receive Mission</button>
    <button id="ajaxBtn" type="button" class="btn btn-primary active" onclick="location.href='{% url 'testAjax' %}'">Test AJAX</button>
    <table id="missionTable" class="table table-hover">
        <thead style="background:black; color: white; height: 50px;">
            <tr>
                <th scope="col" class="col-md-1">ID</th>
                <th scope="col" class="col-md-1">Level</th>
                <th scope="col" class="col-md-4">Description</th>
                <th scope="col" class="col-md-2">Datetime</th>
                <th scope="col" class="col-md-1">Status</th>
                <th scope="col" class="col-md-1">Action</th>
            </tr>
        </thead>
        <tbody>
        {% for mission in all_missions reversed %}
            <tr>
                <th scope="row">{{ mission.missionID }}</th>
                <td>{{ mission.level }}</td>
                <td>{{ mission.description }}</td>
                <td>{{ mission.datetimeReceived }}</td>
                <td><span class="#" style="font-size: 14px" id="tmissionStatus{{ mission.missionID }}">{{ mission.status }}</span></td>

                {% if mission.level == 3 %}
                {% with mission.missionID as msID %}
                <td>
                    {% if mission.status|lower == "new" %}
                    <button type="button" class="btn btn-primary active" data-toggle="modal" data-target="#myModal1">View Plan</button>
                    {% else%}
                    <input type="button" class="btn btn-primary active" onclick="location.href='/missionDetail/{{ msID }}';" value="Deploy"/>
                    {% endif %}
                </td>
                 <!-- Modal -->
                <div id="myModal1" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Modal Header</h4>
                            </div>
                            <div class="modal-body">
                                <p>Some text in the modal.</p>
                            </div>
                            <div class="modal-footer">
                                <input type="button" class="btn btn-primary active" onclick="location.href='/deployment/{{ msID }}';" value="Deploy"/>
                            </div>
                        </div>

                    </div>
                </div>
                {% endwith %}
                {% else %}
                    {% if mission.status|lower == "new" %}
                    <td><input type="button" class="btn btn-primary active" onclick="location.href='/deployment/{{ mission.missionID }}';" value="Deploy"/></td>
                    {% else %}
                    <td><input type="button" class="btn btn-primary active" onclick="location.href='/missionDetail/{{ mission.missionID }}';" value="View Detail"/></td>
                    {% endif %}
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <!--<table class="table table-hover">-->
        <!--<thead style="background:black; color: white; height: 50px;">-->
            <!--<tr>-->
                <!--<th scope="col" class="col-md-1">ID</th>-->
                <!--<th scope="col" class="col-md-1">Level</th>-->
                <!--<th scope="col" class="col-md-4">Description</th>-->
                <!--<th scope="col" class="col-md-2">Datetime</th>-->
                <!--<th scope="col" class="col-md-1">Status</th>-->
                <!--<th scope="col" class="col-md-1">Action</th>-->
            <!--</tr>-->
        <!--</thead>-->
        <!--<tbody>-->
            <!--<tr>-->
                <!--<th scope="row">1</th>-->
                <!--<td>3</td>-->
                <!--<td>Zombie Invasion</td>-->
                <!--<td>11-02-2018 18:00</td>-->
                <!--<td><span class="label label-warning" style="font-size: 14px">New</span></td>-->
                <!--<td><button type="button" class="btn btn-primary active" data-toggle="modal" data-target="#myModal">View Plan</button></td>-->

                <!--&lt;!&ndash; Modal &ndash;&gt;-->
                <!--<div id="myModal" class="modal fade" role="dialog">-->
                    <!--<div class="modal-dialog">-->

                        <!--&lt;!&ndash; Modal content&ndash;&gt;-->
                        <!--<div class="modal-content">-->
                            <!--<div class="modal-header">-->
                                <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                                <!--<h4 class="modal-title">Modal Header</h4>-->
                            <!--</div>-->
                            <!--<div class="modal-body">-->
                                <!--<p>Some text in the modal.</p>-->
                            <!--</div>-->
                            <!--<div class="modal-footer">-->
                                <!--<input type="button" class="btn btn-primary active" onclick="location.href='/deployment';" value="Deploy"/>-->
                            <!--</div>-->
                        <!--</div>-->

                    <!--</div>-->
                <!--</div>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<th scope="row">1</th>-->
                <!--<td>1</td>-->
                <!--<td>Fire at Tampines</td>-->
                <!--<td>11-02-2018 18:00</td>-->
                <!--<td><span class="label label-warning" style="font-size: 14px">New</span></td>-->
                <!--<td><input type="button" class="btn btn-primary active" onclick="location.href='/deployment';" value="Deploy"/></td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<th scope="row">1</th>-->
                <!--<td>2</td>-->
                <!--<td>Riot at Yishun</td>-->
                <!--<td>11-02-2018 18:00</td>-->
                <!--<td><span class="label label-warning" style="font-size: 14px">Clean Up</span></td>-->
                <!--<td><input type="button" class="btn btn-primary active" onclick="location.href='/deployment';" value="Deploy"/></td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<th scope="row">1</th>-->
                <!--<td>3</td>-->
                <!--<td>Zombie Invasion</td>-->
                <!--<td>11-02-2018 18:00</td>-->
                <!--<td><span class="label label-warning" style="font-size: 14px">Ongoing</span></td>-->
                <!--<td><button type="button" class="btn btn-primary active" data-toggle="modal" data-target="#myModal">View Plan</button></td>-->
            <!--</tr>-->
        <!--</tbody>-->
    <!--</table>-->


</div>
</body>
     <!-- script for different span color -->
    <script>
    var status;
    for(i=1; i<= {{all_missions.count}}; i++){
        status = document.getElementById('tmissionStatus' + i).innerHTML.toLowerCase();
         status = status.replace(/\s/g,'');
        if(status == "new"){
            document.getElementById("tmissionStatus" + i).className = "label label-success";
        }
        if(status == "ongoing"){
            document.getElementById("tmissionStatus" + i).className = "label label-warning";
        }
        if(status == "cleanup"){
            document.getElementById("tmissionStatus" + i).className = "label label-info";
        }

        if(status == "complete"){
            document.getElementById("missionTable").deleteRow({{all_missions.count}} - i + 1);
        }

        if(status == "completed"){
            document.getElementById("missionTable").deleteRow({{all_missions.count}} - i + 1);
        }
    }
    </script>
{% endblock %}
