{% extends 'efssad_front/master.html' %}

{% block body %}

<body>
<div class="container">
    <h2>Mission List</h2>
    <table class="table table-hover">
        <thead style="background:black; color: white; height: 50px;">
            <tr>
                <th scope="col" class="col-md-1">ID</th>
                <th scope="col" class="col-md-1">Level</th>
                <th scope="col" class="col-md-4">Description</th>
                <th scope="col" class="col-md-2">Datetime</th>
                <th scope="col" class="col-md-1">Status</th>
                <th scope="col" class="col-md-1">Plan</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>1</td>
                <td>Zombie Invasion</td>
                <td>11-02-2018 18:00</td>
                <td><span class="label label-warning" style="font-size: 14px">New</span></td>
                <td><button type="button" class="btn btn-primary active">View</button></td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>1</td>
                <td>Zombie Invasion</td>
                <td>11-02-2018 18:00</td>
                <td><span class="label label-warning" style="font-size: 14px">New</span></td>
                <td><button type="button" class="btn btn-primary active">View</button></td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>1</td>
                <td>Zombie Invasion</td>
                <td>11-02-2018 18:00</td>
                <td><span class="label label-warning" style="font-size: 14px">Clean Up</span></td>
                <td><button type="button" class="btn btn-primary active">View</button></td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>1</td>
                <td>Zombie Invasion</td>
                <td>11-02-2018 18:00</td>
                <td><span class="label label-warning" style="font-size: 14px">Ongoing</span></td>
                <td><button type="button" class="btn btn-primary active">View</button></td>
            </tr>
        </tbody>
    </table>


</div>
</body>

{% endblock %}
