{% extends 'efssad_front/master.html' %}
{% load staticfiles %}

{% block body %}
<!-- map -->
<!--{#% load leaflet_tags %}-->
<!--{#% leaflet_js %}-->
<!--{#% leaflet_css %}-->

<div class="container">
    <h2>Mission Details</h2>
    <div class="panel-group" id="missionDetail">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#missionDetail" href="#collapse1">Mission Info</a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div style="float:left; width: 58%; #border:1px solid red;">
                        <label>ID:</label>
                        <span id="missionID">{{ mission.missionID }}</span>
                        <br/>
                        <label>Level:</label>
                        <span id="missionLevel">{{ mission.level }}</span>
                        <br/>
                        <label>Description:</label>
                        <span id="missionDesc">{{ mission.description }}</span>
                        <br/>
                        <label>Time:</label>
                        <span id="missionDatetime">{{ mission.datetimeReceived }}</span>
                        <br/>
                        <label>Site Commanders:</label>
                        <span id="missionSC"></span>
                        <br/>
                        <label>Status:</label>
                        <!--new - green, ongoing - yellow, cleanup - blue, completed - grey-->
                        <span id="missionStatus"class="#" style="font-size: 15px">{{ mission.status }}</span>


                        <br/>
                    </div>

                    <div style="#border:1px solid blue;">
                        <label>Location:</label>
                        <br/>
                        <div id="temp" hidden="true"></div>
                        <div id='locationMap' style='width: 450px; height: 250px;'></div>
                        <script>
                            <!-- mapbox access token -->
                            <!--mapboxgl.accessToken = 'pk.eyJ1IjoiZWZzc2FkMjAxOCIsImEiOiJjamVweW92cjAwMjBqMnBwN2hjdjI2c2U0In0.xrb23x0OU1w5ow36J543xA';-->
                            <!--var map = new mapboxgl.Map({-->
                                <!--container: 'locationMap',-->
                                <!--style: 'mapbox://styles/mapbox/streets-v10'-->
                            <!--});-->

                            var lat = {{ mission.latitude}}
                            var long = {{ mission.longitude }}
                            var mymap = L.map('locationMap').setView([lat, long], 13);
                            L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoiZWZzc2FkMjAxOCIsImEiOiJjamVweW92cjAwMjBqMnBwN2hjdjI2c2U0In0.xrb23x0OU1w5ow36J543xA', {
                                attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
                                maxZoom: 18,
                                id: 'mapbox.streets',
                                accessToken: 'pk.eyJ1IjoiZWZzc2FkMjAxOCIsImEiOiJjamVweW92cjAwMjBqMnBwN2hjdjI2c2U0In0.xrb23x0OU1w5ow36J543xA'
                            }).addTo(mymap);

                            var marker = L.marker([lat, long]).addTo(mymap);
                            var url = 'http://maps.googleapis.com/maps/api/geocode/json?latlng=' + lat + ',' + long + '&sensor=false'
                            $(document).ready(function(){
                                $.get(url, function(data,status){
                                    var addressjson = JSON.parse(data);
                                    <!--alert(addressjson.results[0].formatted_address);-->
                                    var text = "<b>{{ mission.description }}</b><br>" + addressjson.results[0].formatted_address;
                                    marker.bindPopup(text).openPopup();
                                }, 'html');
                            });
                        </script>
                    </div>
                </div>
            </div>
                <!--<div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,-->
                <!--sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,-->
                <!--quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.-->
                <!--</div>-->
        </div>

    </div>

    <div id="btnGroup" style="float:right">
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal"><span id="numOfNewPlans" class="badge"><strong>!</strong></span>&nbsp New plan from CMO</button>
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Modal Header</h4>
                    </div>
                    <div class="modal-body">
                        <p>Some text in the modal.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        <button type="button" class="btn btn-primary" id="btn_complete">Complete</button>
        <button type="button" class="btn btn-primary" id="btn_redeployment">Redeployment</button>
        <button type="button" class="btn btn-primary" id="btn_cleanUp">Clean up</button>
        <button type="button" class="btn btn-success" id="btn_liveStream" onclick="window.open('http://10.27.160.17:8080')">Livestream</button>
    </div>

    <h2>Mission Control Centre</h2>

    <div style="height: 300px; border: 0.5px solid black;" class="pre-scrollable">
        <table class="table borderless">
            <thead style="background:black; color: white; height: 50px;">

            <tr>
                <th scope="col" class="col-md-1">Commander</th>
                <th scope="col" class="col-md-2">Time</th>
                <th scope="col" class="col-md-10">Message</th>
            </tr>

            </thead>

            <tbody>
             {% for messagelog in message %}
            <tr>
                <th scope="row">{{ messagelog.name }}</th>
                <td>{{ messagelog.dateTime }}</td>
                <td>{{ messagelog.message }}</td>
            </tr>
        {% endfor %}
            </tbody>
        </table>
    </div>


    <br/>
    <div class="form-group">
        <textarea class="form-control" rows="4" id="comment"></textarea>
        <br>
        <button type="button" class="btn btn-primary active" style="float: right">Submit</button>
    </div>


</div>

<!-- script for different button -->
<script>
    var status = document.getElementById('missionStatus').innerHTML.toLowerCase();
    status = status.replace(/\s/g,'');
    if(status == "ongoing"){
        document.getElementById("missionStatus").className = "label label-warning";
        document.getElementById("btn_complete").style.display="none";
    }
    if(status == "cleanup"){
        document.getElementById("missionStatus").className = "label label-info";
        document.getElementById("btn_redeployment").style.display="none";
        document.getElementById("btn_cleanUp").style.display="none";
    }

    if(status == "complete"){
        document.getElementById("missionStatus").className = "label label-default";
        document.getElementById("btnGroup").style.display="none";
    }

    if(status == "completed"){
        document.getElementById("missionStatus").className = "label label-default";
        document.getElementById("btnGroup").style.display="none";
    }

</script>

{% endblock %}