{% extends 'efssad_front/master.html' %}
{% load staticfiles %}

{% block body %}
<div class="container">
    <h2>Mission Details</h2>
    <div class="panel-group" id="missionDetail">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#missionDetail" href="#collapse1">Mission Info</a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                    <!--<div style="float:left; width: 50%;">-->
                        <label>ID:</label>
                        <span id="missionIdNum">{{ mission.missionID }}</span>
                        <br/>
                        <label>Level:</label>
                        <span id="missionLevel"> {{ mission.level }} </span>
                        <br/>
                        <label>Description:</label>
                        <span id="missionDesc"> {{ mission.description }}</span>
                        <br/>
                        <label>DateTime Received:</label>
                        <span id="dateTimeReceived"> {{ mission.datetimeReceived }}</span>
                        <br/>
                        <label>DateTime Completed:</label>
                        <span id="dateTimeCompleted"> {{ mission.datetimeCompleted }}</span>
                        <br/>
                        <label>Site Commanders:</label>
                        <span id="SC"> {{ user.get_username }}</span>
                        <br/>
                        <label>Status:</label>
                        <span id="missionStatus"class="missionStatus" style="font-size: 15px">{{ mission.status }}</span>
                        <br/>

                    <!--</div>-->
                    <!--<div id="map">-->
                        <label>Location:</label>
                        <br/>
                        <div id="temp" hidden="true"></div>
                        <div id='locationMap' style='width: 450px; height: 250px; z-index:1;'></div>
                        <script>
                            <!-- mapbox access token -->
                            <!--mapboxgl.accessToken = 'pk.eyJ1IjoiZWZzc2FkMjAxOCIsImEiOiJjamVweW92cjAwMjBqMnBwN2hjdjI2c2U0In0.xrb23x0OU1w5ow36J543xA';-->
                            <!--var map = new mapboxgl.Map({-->
                                <!--container: 'locationMap',-->
                                <!--style: 'mapbox://styles/mapbox/streets-v10'-->
                            <!--});-->

                            var lat = {{ mission.latitude}}
                            var long = {{ mission.longitude }}
                            var mymap = L.map('locationMap').setView([lat, long], 13);
                            L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoiZWZzc2FkMjAxOCIsImEiOiJjamVweW92cjAwMjBqMnBwN2hjdjI2c2U0In0.xrb23x0OU1w5ow36J543xA', {
                                attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
                                maxZoom: 18,
                                id: 'mapbox.streets',
                                accessToken: 'pk.eyJ1IjoiZWZzc2FkMjAxOCIsImEiOiJjamVweW92cjAwMjBqMnBwN2hjdjI2c2U0In0.xrb23x0OU1w5ow36J543xA'
                            }).addTo(mymap);

                            var marker = L.marker([lat, long]).addTo(mymap);
                            var url = 'http://maps.googleapis.com/maps/api/geocode/json?latlng=' + lat + ',' + long + '&sensor=false'
                            $(document).ready(function(){
                                $.get(url, function(data,status){
                                    var addressjson = JSON.parse(data);
                                    <!--alert(addressjson.results[0].formatted_address);-->
                                    var text = "<b>Zombie Invasion</b><br>" + addressjson.results[0].formatted_address;
                                    marker.bindPopup(text).openPopup();
                                }, 'html');
                            });

                        </script>
                    <!--</div>-->
                </div>
                <!--<div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,-->
                    <!--sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,-->
                    <!--quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.-->
                <!--</div>-->
            </div>

        </div>
    </div>

    <h2>Message Logs</h2>

    <table class="table borderless">
        <thead style="background:black; color: white; height: 50px;width:1100px;table-layout:fixed;float:center">

            <tr>
                <th scope="col" style="text-align:center;width:140px">Commander</th>
                <th scope="col" style="text-align:left;width:200px">Date-Time</th>
                <th scope="col">Message</th>
            </tr>

        <tr>
            <td>Test</td>
             <td>Test2</td>
             <td>Test3</td>
        </tr>



        </thead>
    </table>
    <ul style="list-style-type:none" id="notes">
        <li>
            <p class="no-notes">You don't have any notes.</p>
        </li>
    </ul>

     <div style="position:fixed; background-color: white; text-align: center; padding:10px; left: 0; bottom: 0; width:100%; padding-bottom:10px; padding-top:10px; z-index:2;" >
         <div class="input-single ">
                <form action="{% url 'savemessage' %}" method = "POST">
                    {% csrf_token %}

                    <input type="hidden" id="missionID" name="missionID" value="{{ mission.missionID }}" />
                    <textarea name ="message" id="note-textarea" placeholder="Say something and it will appear here" rows="2" cols="35"></textarea>
                    <a href="#">
                    <button id="start-record-btn" class="btn btn-primary fa fa-microphone fa-3x" style="height: 45px; width: 45px;" aria-hidden="true" return false></button></a>
                    <button id="send-record-btn" class="btn btn-primary" style="height: 45px; width: 65px;" return false > SEND</button>
                 </form>
         </div>

         <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
         <script>
            try {
                var SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition;
                   var recognition = new SpeechRecognition();

                }
            catch(e) {
                console.error(e);
                $('.no-browser-support').show();
                $('.app').hide();
                }


        var noteTextarea = $('#note-textarea');
        var notesList = $('ul#notes');

        var noteContent = '';

        // Get all notes from previous sessions and display them.
        var notes = getAllNotes();
        renderNotes(notes);



        /*-----------------------------
              Voice Recognition
        ------------------------------*/

        // If false, the recording will stop after a few seconds of silence.
        // When true, the silence period is longer (about 15 seconds),
        // allowing us to keep recording even when the user pauses.
        recognition.continuous = true;

        // This block is called every time the Speech APi captures a line.
        recognition.onresult = function(event) {

          // event is a SpeechRecognitionEvent object.
          // It holds all the lines we have captured so far.
          // We only need the current one.
          var current = event.resultIndex;

          // Get a transcript of what was said.
          var transcript = event.results[current][0].transcript;

          // Add the current transcript to the contents of our Note.
          // There is a weird bug on mobile, where everything is repeated twice.
          // There is no official solution so far so we have to handle an edge case.
          var mobileRepeatBug = (current == 1 && transcript == event.results[0][0].transcript);

          if(!mobileRepeatBug) {
            noteContent += transcript;
            noteTextarea.val(noteContent);
          }
        };


        /*-----------------------------
              App buttons and input
        ------------------------------*/

        $('#start-record-btn').on('click', function(e) {
          if (noteContent.length) {
            noteContent += ' ';
          }
          recognition.start();
        });


        // Sync the text inside the text area with the noteContent variable.
        noteTextarea.on('input', function() {
          noteContent = $(this).val();
        })

        $('#send-record-btn').on('click', function(e) {
          recognition.stop();

          if(!noteContent.length) {
            instructions.text('Could not save empty note. Please add a message to your note.');
          }
          else {
            // Save note to localStorage.
            // The key is the dateTime with seconds, the value is the content of the note.
            saveNote(new Date().toLocaleString(), noteContent);

            // Reset variables and update UI.
            noteContent = '';
            renderNotes(getAllNotes());
            noteTextarea.val('');
            instructions.text('Note saved successfully.');
          }

        })
        notesList.on('click', function(e) {
          e.preventDefault();
          var target = $(e.target);
        });
        /*-----------------------------
              Helper Functions
        ------------------------------*/
        function renderNotes(notes) {
          var html = '';
          if(notes.length) {

            notes.forEach(function(note) {
              html+=
              `<table class= "table borderless" style="width:1100px;table-layout:fixed">

                <tr class="note">
                    <td scope="col" style="width:100px" >{{ user.get_username }}</td>
                    <td scope="col" style="text-align:left;width:200px"> ${note.date}</td>
                    <td scope="col" style="text-align:left"> ${note.content}</td>
                </tr>
                </table>`;
            });
          }

          else {
            html = '<li><p class="content">You don\'t have any notes yet.</p></li>';
          }
          notesList.html(html);
        }

        function getAllNotes() {
          var notes = [];
          var key;
          for (var i = 0; i < localStorage.length; i++) {
            key = localStorage.key(i);

            if(key.substring(0,5) == 'note-') {
              notes.push({
                date: key.replace('note-',''),
                content: localStorage.getItem(localStorage.key(i))
              });
            }
          }
          return notes;
        }
        </script>
         <script type="text/javascript">
		// Let's put both functions within a resonably named namespace
		var formData = {
			set : function (){
				// (Re)create the myForm valiable
				var myForm = [];
				// Delete old data from localstorage
				localStorage.removeItem('myForm');
				// Take each input's name and value and add it to the array we already created.
				$('form input[type=text]').each(function(){
					// Push each input's value into the temporary variable
					myForm.push({ name: this.name, value: this.value});
				});
				// Add the array to localStorage
				localStorage.myForm = JSON.stringify(myForm);
			},
			get : function (){
				// Is the form already stored within localStorage? If so, get it and copy it's contents over our myform array variable.
				if(localStorage.myForm != undefined){
					// Get the existing values out of localStorage
					myForm = JSON.parse(localStorage.myForm);
					// Loop through myForm
					for (var i = 0; i < myForm.length; i++) {
						// Populate the form with what data you have for it
						$('[name='+myForm[i].name+']').val(myForm[i].value);
					}
				}
			}
		}
		// Populate the form with whatever data already exists for it
		formData.get();
		// Watch for a change in a change in an input field. If there is a change, resave the form values.
		$("input").change( function() {
			// If a change is detected, save the values.
			formData.set();
		});

	</script>
     </div>
    </div>
</div>

{% endblock %}